.span {

    background-color: white;
}

.span:hover {
    background-color: blue; 
    color: white; 
  }

  .spanHoverOut {
    background-color: blue; 
    color: white; 
  }

  body {
    background-color: rgb(253, 231, 204);

  }

 


  
  